# MongoDB Database Configuration
MONGODB_URI="Enter your connection string"
MONGODB_DB="Enter your Database"
MONGODB_COLLECTION="Enter your collection"

# GIS Portal Credentials
AUTH_USERNAME="Enter username"
AUTH_PASSWORD="Enter password"
